TS_CLIENT=
TS_AUTHKEY=
CONFIG=
DOWNLOADS=
DATA=
SUFFIX=
GLUETUN_PROVIDER=
GLUETUN_TYPE=
GLUETUN_COUNTRIES=
GLUETUN_USER=
GLUETUN_PASSWORD=
TS_DOMAIN=
GITEA_RUNNER_REGISTRATION_TOKEN=
VIKUNJA_SERVICE_SECRET=
QDRANT_API_KEY=