IMAGE_PATH=
JELLYSEERR_HREF=
JELLYSEERR_KEY=
JELLYFIN_HREF=
JELLYFIN_KEY=
SONARR_HREF=
SONARR_KEY=
SONARR_ANIME_HREF=
SONARR_ANIME_KEY=
RADARR_HREF=
RADARR_KEY=
RADARR_ANIME_HREF=
RADARR_ANIME_KEY=
PROWLARR_HREF=
PROWLARR_KEY=
TRANSMISSION_HREF=
TRANSMISSION_KEY=
BAZARR_HREF=
BAZARR_KEY=
STIRLING_HREF=
HOME_ASSISTANT_HREF=
HOME_ASSISTANT_KEY=
PIHOLE_HREF=
PIHOLE_KEY=
CLOUD_BEAVER_HREF=
PORTAINER_HREF=
PORTAINER_KEY=
JOAL_HREF=
FILEGATOR_HREF=
MEALIE_HREF=
MEALIE_KEY=
VAULTWARDEN_HREF=
N8N_HREF=
WIKI_HREF=
