services:
  joal:
    image: anthonyraymond/joal:latest
    container_name: joal
    network_mode: service:gluetun
    volumes:
      - ${CONFIG}/joal:/data
    command: ["--joal-conf=/data", "--spring.main.web-environment=true", "--server.port=1234", "--joal.ui.path.prefix=seed", "--joal.ui.secret-token=abc"]
    restart: always
    depends_on:
      - gluetun
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun-joal
    ports:
      - "1234:1234/tcp"
      - "1234:1234/udp"
    environment:
      - VPN_SERVICE_PROVIDER=${GLUETUN_PROVIDER}
      - VPN_TYPE=${GLUETUN_TYPE}
      - OPENVPN_USER=${GLUETUN_USER}
      - OPENVPN_PASSWORD=${GLUETUN_PASSWORD}
      - TZ=Europe/Amsterdam
      - SERVER_COUNTRIES=${GLUETUN_COUNTRIES}
    volumes:
      - ${CONFIG}/gluetun:/gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    restart: always